<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>
<body>
  <div class="container">
    
    <h3>Просмотр книги</h3>  
   
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= book.title %></h5>
        <h6 class="card-title"><%= book.authors %></h6>
        <p class="card-text"><%= book.description %></p>        
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="book-favorite" <%- book.favorite ? 'checked' : '' %>>
          <label class="form-check-label" for="book-favorite">В избранном</label>
        </div>
        <p class="card-text">Просмотров: <%= counter %></p>
        <a href="/api/books/update/<%= book._id %>" class="btn btn-primary mb-3">Редактировать</a>
        <a href="/api/books/delete/<%= book._id %>" class="btn btn-primary mb-3">Удалить</a>        
        <a href="/api/books" class="btn btn-primary">Закрыть</a>        
      </div>
    </div>    
  </div> 

  <%- include('../partials/footer'); %> 
</body>
</html>